In [1]:
print('hello world')

hello world

Types of data: Boolean (T/F) 'bool', Integers (+,-,0) 'int', Floating Point (Decimals) 'float'.

Any characters in " " or ' ' is a string

In [2]:
print(2+5)

7

In [3]:
print("2+5")

2+5

Variables - store data types

In [6]:
print('5+7.0')

5+7.0

Functions

In [10]:
def greet():
    name = input('What is your name?')
    print('What is up ' + name + '?')

greet()

What is your name? Lo

What is up Lo?

Built-in funcitons

In [11]:
print('print means to show data')

print means to show data

In [13]:
data = input('this input means it can ask for something, what is your name?')

this input means it can ask for something, what is your name? Lo

In [14]:
print(data)

Lo

In [17]:
# def fucntionName(inputName)
   # body

Def means definition. Make sure the whole body is indented

In [19]:
def addFive(x):
    print(5+x)

In [22]:
addFive(3)
addFive(62.5)

8
67.5

Some functions take input, some return output, some do neither

In [27]:
def greeting():
    print('hey')

greeting()

hey

In [30]:
def square(x):
    return x * x

result = square(5)
print(result)

another = square(result)
print(another)

25
625

In [33]:
def sumOfSquares(x, y):
        square1 = x * x
        square2 = y * y
        return square1 + square2

result = sumOfSquares(2,3)
print(result)

13

In [34]:
def is_it_raining():
    raining = input('Is it raining today?')
    return raining

Modules - allow you to reuse code that has been written (calendar, amth, random) modules.

In [36]:
import calendar # makes cal avail to use!

cal = calendar.month(2024, 9)
print(cal)

   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [38]:
import math

result = math.sqrt(49)
print(result)

7.0

In [41]:
import random

number = random.randint(1, 100) # returns int between two inputs
print(number)

93

Can also choose random choice from a list

In [43]:
foods = ["apple", "banana", "carrot", "bread", "chicken", "salmon", "rice", "spinach", "avocado", "yogurt"]

choose = random.choice(foods)
print(choose)

salmon

In [47]:
deck = ["2 of Hearts", "3 of Hearts", "4 of Hearts", "5 of Hearts", "6 of Hearts", "7 of Hearts", "8 of Hearts", 
    "9 of Hearts", "10 of Hearts", "Jack of Hearts", "Queen of Hearts", "King of Hearts", "Ace of Hearts",
    "2 of Diamonds", "3 of Diamonds", "4 of Diamonds", "5 of Diamonds", "6 of Diamonds", "7 of Diamonds", 
    "8 of Diamonds", "9 of Diamonds", "10 of Diamonds", "Jack of Diamonds", "Queen of Diamonds", 
    "King of Diamonds", "Ace of Diamonds",
    "2 of Clubs", "3 of Clubs", "4 of Clubs", "5 of Clubs", "6 of Clubs", "7 of Clubs", "8 of Clubs", 
    "9 of Clubs", "10 of Clubs", "Jack of Clubs", "Queen of Clubs", "King of Clubs", "Ace of Clubs",
    "2 of Spades", "3 of Spades", "4 of Spades", "5 of Spades", "6 of Spades", "7 of Spades", "8 of Spades", 
    "9 of Spades", "10 of Spades", "Jack of Spades", "Queen of Spades", "King of Spades", "Ace of Spades"]

random.shuffle(deck)
print(deck)

['6 of Clubs', '7 of Hearts', '7 of Diamonds', 'King of Hearts', '4 of Hearts', 'Jack of Diamonds', '5 of Spades', '9 of Clubs', '2 of Spades', '3 of Hearts', 'Jack of Spades', '2 of Diamonds', 'Jack of Hearts', '2 of Hearts', '5 of Clubs', 'Jack of Clubs', 'Queen of Diamonds', '9 of Spades', '10 of Clubs', '6 of Spades', '6 of Diamonds', '7 of Spades', '7 of Clubs', '8 of Diamonds', 'Queen of Clubs', 'Queen of Hearts', 'Ace of Spades', '9 of Hearts', '3 of Clubs', '10 of Hearts', '4 of Diamonds', 'Ace of Diamonds', 'King of Spades', '5 of Hearts', '8 of Hearts', '4 of Spades', '3 of Spades', '3 of Diamonds', '5 of Diamonds', '2 of Clubs', '8 of Spades', 'King of Diamonds', 'Queen of Spades', '4 of Clubs', 'Ace of Clubs', 'Ace of Hearts', '10 of Diamonds', '10 of Spades', '6 of Hearts', 'King of Clubs', '8 of Clubs', '9 of Diamonds']

Storing individal vs pieves of data. Can store in variables, and create a collection in a list. Data can be accessed using a single variable.

Using lists: specific order with items in square brackets

In [50]:
listA = [5, 10, 15, 20]
print(listA)

[5, 10, 15, 20]

In [52]:
type(listA)

list

In [54]:
print(listA[2])

15

Python indexes from 0 so the 3rd item is of place 2 in the list. Can change items by doing:

In [56]:
listA[2] = 150
print(listA[2])

150

In [58]:
listB = [True, 'star', 50, 45.5]
print(listB)

[True, 'star', 50, 45.5]

Leveraging tuples in Python - sequences that cannot be changed after creation. Idal for data that should not be alterd - ex: patient data.

In [60]:
child1_birth = ('Julia', 'Childrens Hospital', 'Stanford, CA', '07/09/2004')
child2_birth = ('Nate', 'V.A. Hospital', 'Fremont, CA', '01/24/2004')

type(child1_birth)
type(child2_birth)

tuple

In [63]:
print(child1_birth)
print(child1_birth[2])

('Julia', 'Childrens Hospital', 'Stanford, CA', '07/09/2004')
Stanford, CA

In [65]:
# second child day of birth
print('date of birth is ' + child2_birth[3])

date of birth is 01/24/2004

In [66]:
# if you try to change item in tuple it will not work! use them to protect data

Conditional Statements - ex: if

In [69]:
fit_check = input('Are you going out today? (y/n)')
if fit_check == 'y':
    print('Remember to wear your gucci flip flops')

Are you going out today? (y/n) y

Remeber to wear your gucci flip flops

In [74]:
n = input('choose an integer between 1 and 10: ') # n is always stored as string if it is input funciton

# int function can help us convert the input

n = int(n)
if n < 5:
    print('The integer is less than 5')
else:
    print('The integer is larger than 4')

choose an integer between 1 and 10:  4

The integer is less than 5

In [2]:
def minimum(x, y):
    if x < y:
        return x
    else:
        return y
x = input('type a number')
y = input('type another')
x = int(x)
y = int(y)

print('The minimum of the two is: ' + str(minimum(x, y)))

The minimum of the two is: 3

In [1]:
print('test')

test

In [4]:
raining = input('It it raining? (y/n)')
umbrella = input('Do you have an umbrella? (y/n)')
if raining == 'y' and umbrella == 'y':
    print('Dont forget your umbrella today!')
elif raining == 'y' and umbrella == 'n':
    print('Stay inside!')

Dont forget your umbrella today!

Notice that abobe the script supports compound statements

In [7]:
x = input('Enter number: ')
x = float(x)
if x < 2:
    print('Number is less than 2')
elif x < 10:
    print('Number is less than 10')
else:
    print('Bad choice of number')

Numer is less than 10

In [2]:
print('test')

test

To make a new cell use Shift + Enter
To change the cell to Markdown/Code, use esc, then M or Y key, then press enter to edit the cell contents

If-Elif-Else Statments

In [2]:
def abs_val(num):
    if num < 0:
        return -num
    elif num == 0:
        return 0
    else:
        return num
result = abs_val(-5)
result_2 = abs_val(0)
print('Results are ' + str(result) + ' and ' + str(result_2))

Results are 5 and 0

Iteration in Python